@import url('https://fonts.google.com/specimen/Inter');

:root {
    /* colors */
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey_700: hsl(0, 0%, 20%);
    --grey_800: hsl(0, 0%, 12%);
    --grey_900: hsl(0, 0%, 8%);
    /* fonts */
    --body-font-size: 14px;
    --font-family: 'Inter', sans-serif;
    --weight_400: 400;
    --weight_600: 600;
    --weight_700: 700;
}


* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--grey_900);
    color: #fff;
    height: 100%;
}

/* w: 410; h: 658 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey_800);
    width: 370px;
    padding: 40px;
}

/* w: 94 */
/* height between card and avatar: 41px */
.avatar img {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* space btw avatar & name: 30px */
.name {
    margin: 15px;
    font-size: 20px;
}

/* space btw name & location: 15px */
.location {
    color: #B3CF5E;
}

/* space btw location & blurb: 30px */
.blurb {
    
}

/* space btw: 24px */
.social {
    /* space: 12px btw links */
}

/* w:322; h: 94; */
.social a {
    color: var(--grey_900);
}

/* bottom space: 41px, space around elements: 41px */


.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }