@import url('https://fonts.google.com/specimen/Inter');

:root {
    /* colors */
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey_700: hsl(0, 0%, 20%);
    --grey_800: hsl(0, 0%, 12%);
    --grey_900: hsl(0, 0%, 8%);
    /* fonts */
    --body-font-size: 0.875rem;
    --font-family: 'Inter', sans-serif;
    --weight_400: 400;
    --weight_600: 600;
    --weight_700: 700;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--grey_900);
    color: var(--white);
    height: 100%;
    font-size: 0.75rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 133.33em;
    margin: 1.56em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey_800);
    width: 20.44em;
    padding: 1.44em;
    border-radius: 10px;
}

.avatar img {
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%;
    margin-bottom: 1em;
}

.name {
    margin: 0.94em;
    font-size: 1.25rem;
    font-weight: var(--weight_700);
}

.location {
    margin-bottom: 0.81em;
    color: var(--green);
    font-weight: var(--weight_600);
}

.description {
    margin: 0.94em 0.94em 1.56em;
    font-weight: var(--weight_400);
}

.social {
    margin: 0;
    width: 100%;
}

.social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social li {
    display: flex;
    height: 2.5em;
    margin-bottom: 0.88em;
    background-color: var(--grey_700);
    border-radius: 8px;
}

.social li:last-of-type {
    margin-bottom: 0;
}

.social a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    font-weight: var(--weight_600);
    width: 100%;
}

.social li:hover a {
    background-color: var(--green);
    color: var(--grey_700);
    border-radius: 8px;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    padding: 1.25em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    html, body {
        font-size: var(--body-font-size);
    }

    .card {
        width: 25.25em;
        padding: 2.56em;
        border-radius: 12px;
    }

    .avatar img {
        width: 5.88em;
        height: 5.88em;
        margin-bottom: 0.94em;
    }

    .name {
        margin: 0.63em;
        font-size: 1.875rem;
        font-weight: var(--weight_700);
    }

    .location {
        margin-bottom: 0.88em;
    }

    .description {
        margin: 0.94em 0.94em 1.69em;
    }

    .social li {
        height: 2.88em;
        margin-bottom: 1em;
        border-radius: 10px;
    }
}

