@import url('https://fonts.google.com/specimen/Inter');

:root {
    /* colors */
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey_700: hsl(0, 0%, 20%);
    --grey_800: hsl(0, 0%, 12%);
    --grey_900: hsl(0, 0%, 8%);
    /* fonts */
    --body-font-size: 14px;
    --font-family: 'Inter', sans-serif;
    --weight_400: 400;
    --weight_600: 600;
    --weight_700: 700;
}


* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--grey_900);
    color: var(--white);
    height: 100%;
    font-size: 12px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey_800);
    width: 327px;
    padding: 23px;
    border-radius: 10px;
}


.avatar img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-bottom: 16px;
}


.name {
    margin: 15px;
    font-size: 18px;
    font-weight: var(--weight_700);
}


.location {
    margin-bottom: 13px;
    color: var(--green);
    font-weight: var(--weight_600);
}


.description {
    margin: 15px 15px 25px;
    font-weight: var(--weight_400);
}


.social {
    margin: 0;
    width: 100%;
}

.social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social li {
    display: flex;
    height: 44px;
    margin-bottom: 14px;
    background-color: var(--grey_700);
    border-radius: 8px;
}

.social li:last-of-type {
    margin-bottom: 0;
}

.social a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    font-weight: var(--weight_600);
    width: 100%;
}

.social li:hover a {
    background-color: var(--green);
    color: var(--grey_700);
    border-radius: 8px;
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 20px;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }



  @media (min-width: 768px) {
    html, body {
        font-size: var(--body-font-size)
    }

    .card {
        width: 404px;
        padding: 41px;
        border-radius: 12px;
    }
    
    
    .avatar img {
        width: 94px;
        height: 94px;
        margin-bottom: 15px;
    }
    
    
    .name {
        margin: 15px;
        font-size: 20px;
    }
    
    
    .location {
        margin-bottom: 15px;
    }
    
    
    .description {
        margin: 15px 15px 27px;
    }
    
    
    .social li {
        height: 46px;
        margin-bottom: 12px;
        border-radius: 10px;
    }

  }

